name: Doc to GitHub Pages

on:
  push:
    paths:
      - '**.md'
  pull_request:

jobs:
  test:
    steps:
      - name: Push documentation to GitHub Pages
        uses: nkoppel/push-files-to-another-repository@v1.1.4
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUBPAGES }}
        with:
          source-files: 'README.md'
          destination-username: 'vdwulp'
          destination-repository: 'vdwulp.github.io'
          destination-directory: 'iButtonTag'
